.progressBar {
    appearance: none;
    height: 8px;
    border-radius: 100px;
      
    /* Chrome and Safari */
    &::-webkit-progress-bar {
      background: white;
      border-radius: 100px;
    }
  
    &::-webkit-progress-value {
      background-color: #49b8eb;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  
    /* Firefox */
    &::-moz-progress-bar {
      background-color: #64a4c2;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }